// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.margin-top-15{
    margin-top: 15vh;
}

.margin-top-10{
    margin-top: 10vh;
}

.margin-top-5{
    margin-top: 5vh;
}

.margin-bottom-10{
    margin-bottom: 10vh;
}